* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: #EFF8E2;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, auto);
    row-gap: 10px;

    grid-template-areas:
    "navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar"
    ". . info info info info info info info info . ."
    ". . content3 content3 content3 content3 content3 picture3 picture3 picture3 . ."
    ". . picture2 picture2 picture2 content2 content2 content2 content2 content2 . ."
    ". . content1 content1 content1 content1 content1 picture1 picture1 picture1 . ."
    "footer footer footer footer footer footer footer footer footer footer footer footer"
    ;
}

.navbar {
    grid-area: navbar;
    background-color: #003552;
    border: 10px solid #6B9AC4;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.info {
    grid-area: info;
    background-color: #C596AA;
    border: 10px solid #45062E;
    text-align: center;
}

.content3 {
    grid-area: content3;
    background-color: #C596AA;
    border: 10px solid #45062E;
    border-right: 0px;
}

.picture3 {
    grid-area: picture3;
    background-color: #C596AA;
    border: 10px solid #45062E;
    border-left: 0px;
}

.content2 {
    grid-area: content2;
    background-color: #C596AA;
    border: 10px solid #45062E;
    text-align: right;
    border-left: 0px;
}

.picture2 {
    grid-area: picture2;
    background-color: #C596AA;
    border: 10px solid #45062E;
    border-right: 0px;
}

.content1 {
    grid-area: content1;
    background-color: #C596AA;
    border: 10px solid #45062E;
    border-right: 0px;
}

.picture1 {
    grid-area: picture1;
    background-color: #C596AA;
    border: 10px solid #45062E;
    border-left: 0px;
}

.footer {
    grid-area: footer;
    background-color: #003552;
    border: 10px solid #6B9AC4;
    text-align: center;
}

h2, p {
    color: #003552;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: #003552;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

/*ekstra klasse for teksten i footer*/
.p1 {
    color: #EFF8E2;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
}

button {
    background-color: #6B9AC4;
    color:#EFF8E2;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    height: 70px;
    width: 250px;
    cursor: pointer;
    margin: 0px 30px 0px 30px;
}

button:hover {
    background-color: #003552;
    transition: 0.3s;
}

/*unngår underline på knappene*/
.a-btn {
    text-decoration: none;
}

/*prosjekt dropdown*/
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    max-width: 250px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#dropdown-btn {
    background-color: #EFF8E2;
    color: #003552;
    font-size: 17px;
    text-align: center;
}

#dropdown-btn:hover {
    background-color: #6B9AC4;
    color: #EFF8E2;
    transition: 0.3s;
}

.img-right {
    float: right;
    margin: 20px;
    width: 100%;
    border: 10px solid #45062E;
}

.img-left {
    float: left;
    margin: 20px;
    width: 100%;
    border: 10px solid #45062E;
}

::selection {
    background-color: #EFF8E2;
    color: #003552;
}




/*endrer knapper og bilder*/
@media (max-width: 1200px) {
    button {
        margin: 0px;
    }

    .img-right {
        margin: 50px 20px 50px 20px
    }

    .img-left {
        margin: 50px 20px 50px 20px
    }
}

/*endrer grid oppsett*/
@media (max-width: 1000px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(8, auto);
        row-gap: 0px;

        grid-template-areas:
        "navbar navbar navbar navbar navbar navbar"
        ". info info info info ."
        ". content3 content3 content3 content3 ."
        ". picture3 picture3 picture3 picture3 ."
        ". content2 content2 content2 content2 ."
        ". picture2 picture2 picture2 picture2 ."
        ". content1 content1 content1 content1 ."
        ". picture1 picture1 picture1 picture1 ."
        "footer footer footer footer footer footer"
        ;
    }

    .navbar, .info {
        margin-bottom: 20px;
    }

    .content1, .content2, .content3 {
        border: 10px solid #45062E;
        border-bottom: 0px;
        text-align: center;
    }

    .picture1, .picture2, .picture3 {
        border: 10px solid #45062E;
        margin-bottom: 20px;
    }

    .img-right, .img-left {
        float: left; /*fikser tomrom under bilete*/
        margin: 0px;
        border: 0px;
    }
}

/*endrer meny oppsett*/
@media (max-width: 800px) {
    button {
        display: block;
        text-decoration: none;
        margin: auto;
        font-size: 20px;
        height: 50px;
    }
}

/*mindre tekst*/
@media (max-width: 420px) {
    button {
        font-size: 18px;
    }
    
    h2 {
        font-size: 16px;
    }

    p, .p1, a {
        font-size: 14px;
    }
}